#!/usr/bin/env bash

xset r rate 200 50
hsetroot -solid "#303030"

source $HOME/scripts/dwmbar.sh &
unclutter &
picom &

# Allows to reset dwm without exiting X11
while true; do
    sleep 1 && 
    dwm >/dev/null 2>&1
done
